<template #template let-c="close" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
		<h4 class="modal-title">Change secret</h4>
	</div>
	<div class="modal-body">
		<form #f="ngForm" class="form-horizontal" novalidate>
			<div class="alert alert-danger" role="alert">
				<b>WARNING!</b><br/>Changing API secret could prevent others accessing this server!<br/>After successful change operation Slamby Insight will restart immediately.
			</div>
			<div ngModelGroup="secretGroup" equalTo>
				<div class="form-group" [class.has-error]="secret.errors && secret.touched">
					<label for="secret" class="col-sm-4 control-label">New Secret</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" [(ngModel)]="newSecret" name="secret" #secret="ngModel" required minlength="6" maxlength="32">
						<div *ngIf="secret.errors && secret.touched">
							<p class="text-danger" *ngIf="secret.errors?.required">	
								This field is required
							</p>
							<p class="text-danger" *ngIf="secret.errors?.minlength">	
								Length must be minimum of 6 characters
							</p>
						</div>
					</div>
				</div>
				<div class="form-group" [class.has-error]="f.form.controls.secretGroup?.errors && secretAgain.touched">
					<label for="secretAgain" class="col-sm-4 control-label">New Secret Again</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" ngModel name="secretAgain" #secretAgain="ngModel">
						<div *ngIf="f.form.controls.secretGroup?.errors && secretAgain.touched">
							<p class="text-danger" *ngIf="f.form.controls.secretGroup?.errors?.equalTo">	
								Secrets do not match
							</p>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" (click)="change()" [disabled]="!f.valid">Change</button>
		<button type="button" class="btn btn-warning" (click)="c('Cancel')">Cancel</button>
	</div>
</template>