<div class="tabs-container">
    <div class="tab-header">
        <ul class="nav nav-tabs slim-scrollbar" horizontalScroll>
            <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active" (mousedown)="tabMouseDown($event, tab)">
                <a>
                    <i *ngIf="tab.icon" class="fa {{tab.icon}}"></i> {{tab.title}}&nbsp;
                    <button type="button" class="close" aria-label="Close" title="Close" (click)="closeTab(tab)" *ngIf="canCloseTabs">
                    <span aria-hidden="true">&times;</span>
                </button>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content" [style.overflow]="contentOverflow()">
        <div *ngFor="let tab of tabs" (click)="selectTab(tab)" class="tab-pane active">
            <dynamic-tab [tab]="tab"></dynamic-tab>
        </div>
    </div>
</div>