<div>
	<button class="btn btn-default" (click)="selectAll()"><i class="fa fa-check-square-o"></i> Select All</button>
	<button class="btn btn-default" (click)="selectFiltered()"><i class="fa fa-list"></i> Select Filtered</button>
	<button class="btn btn-default" (click)="unselectAll()"><i class="fa fa-square-o"></i> Unselect All</button>
	<button class="btn btn-default" (click)="unselectFiltered()"><i class="fa fa-square-o"></i> Unselect Filtered</button>
	<div class="vs-table-header">
		<table class="table">
			<thead>
				<tr>
					<th class="vs-col-short">
						<div>
							<!--<input type="checkbox" [checked]="getSelectedItemsCount(tags) == tags.length" (change)="checkTag($event)" style="margin: 3px;">-->
						</div>
					</th>
					<th class="vs-col-medium">Id</th>
					<th>Name</th>
					<th class="vs-col-medium">Parent Id</th>
					<th class="vs-col-short">Leaf</th>
					<th class="vs-col-short">Level</th>
					<th class="vs-col-medium">Document Count</th>
					<th class="vs-col-medium">Word Count</th>
				</tr>
				<tr>
					<th></th>
					<th>
						<input type="text" class="form-control input-sm" [(ngModel)]="idFilter" (ngModelChange)="modelChange($event)" placeholder="Id Filter" slClearBox />
					</th>
					<th><input type="text" class="form-control input-sm" [(ngModel)]="nameFilter" (ngModelChange)="modelChange($event)" placeholder="Name Filter"
						slClearBox />
					</th>
					<th>
						<input type="text" class="form-control input-sm" [(ngModel)]="parentIdFilter" (ngModelChange)="modelChange($event)" placeholder="Parent Id Filter" slClearBox />
					</th>
					<th>
						<input type="text" class="form-control input-sm" [(ngModel)]="leafFilter" (ngModelChange)="modelChange($event)" placeholder="Leaf Filter" slClearBox />
					</th>
					<th>
						<input type="text" class="form-control input-sm" [(ngModel)]="levelFilter" (ngModelChange)="modelChange($event)" placeholder="Level Filter" slClearBox />
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="vs-table-body" #tableBodyDiv>
		<table class='table table-striped'>
			<tbody *vsFor="filteredTags; tagName:'tr'; scrollParent:'div'; autoresize:true; let _items = vsCollection; let _startIndex = vsStartIndex">
				<tr *ngFor='let tag of _items; let i = index'>
					<td class="vs-col-short text-center">
						<input type="checkbox" [checked]="isSelected(tag)" (change)="check(tag, $event)">
					</td>
					<td class="vs-col-medium">{{tag.Id}}</td>
					<td>{{tag.Name}}</td>
					<td class="vs-col-medium">{{tag.ParentId}}</td>
					<td class="vs-col-short">{{tag.Properties?.IsLeaf}}</td>
					<td class="vs-col-short">{{tag.Properties?.Level}}</td>
					<td class="vs-col-medium">{{tag.Properties?.DocumentCount}}</td>
					<td class="vs-col-medium">{{tag.Properties?.WordCount}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>