@import '_common';

.wrapper {
    background-color: $slamby-color; 
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;

    &.disabled {
        cursor: progress;
    }

    div.modal {
        display: block;

        .list-group {
            min-height: 100px;    
            max-height: 350px;
            overflow-y: auto;

            .list-group-item {
                font-weight: bold;
                text-align: center;
            }
        }
    }
}