<div>
	<template #template>
		<div class="modal-header">
			<button type="button" class="close" aria-label="Close" (click)="cancel();">
                    <span aria-hidden="true">&times;</span>
                </button>
			<h4 class="modal-title">{{model.Header}}</h4>
		</div>
		<div class="modal-body" *ngIf="model.ErrorMessage">
			<font size="3" color="red">{{model.ErrorMessage}}</font>
		</div>
		<div class="modal-body">
			
			<form (submit)="ok()" #f="ngForm" class="form-horizontal modal-body">
				<ng-content *ngIf='model.Type == "new"' class="modal-body" select="[new]"></ng-content>
				<ng-content *ngIf='model.Type == "modify"' class="modal-body" select="[modify]"></ng-content>
				<ng-content *ngIf='model.Type == "prepare"' class="modal-body" select="[prepare]"></ng-content>
				<ng-content *ngIf='model.Type == "activate"' class="modal-body" select="[activate]"></ng-content>
				<ng-content *ngIf='model.Type == "export"' class="modal-body" select="[export]"></ng-content>
				<ng-content *ngIf='model.Type == "index"' class="modal-body" select="[index]"></ng-content>
				<ng-content *ngIf='model.Type == "recommend"' class="modal-body" select="[recommend]"></ng-content>
				<ng-content *ngIf='model.Type == "recommendById"' class="modal-body" select="[recommendById]"></ng-content>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" [disabled]="!f.valid || showProgress">Ok</button>
					<button type="button" class="btn btn-warning" (click)="cancel();">Close</button>
				</div>
			</form>
		</div>
	</template>
</div>