@import '_common';

/*
Global overrides for Bootstrap
*/
html {
    -webkit-user-select: none;
     user-select: none;
     cursor: default;
}

img {
    -webkit-user-drag: none;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
    transition-duration:50ms
}

.dropdown {
    ul.dropdown-menu {
        li > a {
            cursor: pointer;
        }
        li.disabled > a {
            cursor: not-allowed;
        }
    }
}

.table-interactive {
    tbody {
        tr {
            cursor: pointer;
        }
    }
}

.selected-row,
.table-striped>tbody>tr:nth-of-type(even).selected-row,
.table-striped>tbody>tr:nth-of-type(odd).selected-row {
    background-color: #f0f8ff;

    &:hover {
        background-color: darken(#f0f8ff, 2%);
    }
}

/*
    Scrollbar
*/

::-webkit-scrollbar {
    width: $scrollbar-size-large;
    height: $scrollbar-size-large;
}

.slim-scrollbar::-webkit-scrollbar {
    width: $scrollbar-size-small;
    height: $scrollbar-size-small;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #666; 
}

.vs-col-short {
    width: 60px;
}

.vs-col-medium {
    width: 120px;
}

.vs-col-large {
    width: 320px;
}

.vs-table-header {
    padding-right: $scrollbar-size-large;
    table {
        margin-bottom: 0;
        thead {
            input {
                width: 100%;
            }
        }
    }
}

.vs-table-body {
    overflow-y: auto; 
    overflow-x: auto; 
    max-height: 500px;
}