<template #template let-c="close" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="cancel(); d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
		<h4 class="modal-title">{{model.Header}}</h4>
	</div>
	<div *ngIf="model.ErrorMessage">
		<p>{{model.ErrorMessage}}</p>
	</div>
	<form (submit)="ok()" #f="ngForm" class="form-horizontal">
		<div class="modal-body">
			<p>
				<textarea [(ngModel)]="model.Document" name="document" [cols]="cols" [rows]="getRowNumber(model.Document)" style="{min-height: 300px; min-width: 400px;}"></textarea>
			</p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" [disabled]="!f.valid">OK</button>
			<button type="button" class="btn btn-warning" (click)="cancel(); c('Close click')">Close</button>
		</div>
	</form>
</template>