<div>
	<div class='panel-body'>
		<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
		<div>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" [class.active]="activeTab === 'documents'" (click)="activeTab = 'documents'">
					<a aria-controls="home" role="tab" data-toggle="tab">Documents</a>
				</li>
				<li role="presentation" [class.active]="activeTab === 'tags'" (click)="activeTab = 'tags'">
					<a aria-controls="profile" role="tab" data-toggle="tab">Tags</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane" [class.active]="activeTab === 'documents'" id="home">
					<div class="container-fluid">
						<br>
						<div class="row">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<i class="fa fa-angle-double-right" *ngIf="!isFilterOpen" title="Click to Open"></i>
											<i class="fa fa-angle-double-down" *ngIf="isFilterOpen" title="Click to Collapse"></i>
											<a role="button" data-toggle="collapse" (click)="isFilterOpen = !isFilterOpen">Filter, Sample & Fields</a>
										</h4>
									</div>
									<div class="panel-collapse collapse in" role="tabpanel">
										<div class="panel-body" [hidden]="!isFilterOpen">
											<!--field filter section-->
											<div class="col-md-3">
												<div class="card" style="display: inline;">
													<div class="card-header">
														<span class="h3">
															Fields
														</span>
													</div>
													<br role="separator" class="divider">
													<div class="card-block">
														<div class="table-responsive" style="overflow-y: auto; overflow-x: auto; max-height: 300px">
															<table class='table table-striped'>
																<thead>
																	<th><input type="checkbox" [checked]="getSelectedItemsCount(fields) == fields.length" name="checkAll" (change)="checkField($event)"
																			style="margin: 3px;"></th>
																	<th>Field</th>
																</thead>
																<tbody>
																	<tr *ngFor='let field of fields'>
																		<td><input type="checkbox" [checked]="field.IsSelected" name="check" (change)="checkField($event, field)"></td>
																		<td>{{field.Name}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<button class="btn btn-default" (click)="fieldFilter()">Set Fields</button>
													</div>
												</div>
											</div>
											<div class="col-md-1 divider" role="separator">
											</div>
											<!--filter section-->
											<div class="col-md-3">
												<div class="card" style="display: inline;">
													<div class="card-header">
														<span class="h3">
															Filter
														</span>
													</div>
													<br role="separator" class="divider">
													<div class="card-block">
														<form (submit)="filter()">
															<div class="form-group">
																<button type="button" class="btn btn-primary" (click)="selectFilterTags()" [disabled]="tags.length === 0">Select Tags ({{tagsForFilter.length}})</button>
															</div>
															<div class="form-group">
																<label>Query </label>
																<input type="text" class="form-control" name="query" [(ngModel)]="filterSettings.Filter.Query">
															</div>
															<div class="form-group">
																<label>Scroll size </label>
																<input type="number" class="form-control" name="size" [(ngModel)]="filterSettings.Pagination.Limit">
															</div>
															<button type="submit" class="btn btn-default">Filter</button>
														</form>
													</div>
												</div>
											</div>
											<div class="col-md-1 divider" role="separator">
											</div>
											<!--sampling section-->
											<div class="col-md-3">
												<div class="card" style="display: inline;">
													<div class="card-header">
														<span class="h3">
															Sample
														</span>
													</div>
													<br role="separator" class="divider">
													<div class="card-block">
														<form (submit)="getSample()">
															<div class="form-group">
																<button type="button" class="btn btn-primary" (click)="selectSampleTags()" [disabled]="tags.length === 0">Select Tags ({{tagsForSample.length}})</button>
															</div>
															<div class="form-group">
																<input type="checkbox" name="isFix" [(ngModel)]="sampleSettings.IsFix">Fix Size
																<br/>
																<div *ngIf="sampleSettings.IsFix">
																	<div class="form-group">
																		<label>Size </label>
																		<input type="number" class="form-control" name="size" [(ngModel)]="sampleSettings.Settings.Size">
																	</div>
																</div>
																<div *ngIf="!sampleSettings.IsFix">
																	<div class="form-group">
																		<label>Percent </label>
																		<input type="number" class="form-control" name="percent" [(ngModel)]="sampleSettings.Settings.Percent">
																	</div>
																</div>
															</div>
															<button class="btn btn-default" type="submit">Get Sample</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--bulk actions-->
					<div class="well">
						<div class="button-container">
							<button type="button" class="btn btn-primary" (click)="saveOrEditDocument()">Add New Document</button>
							<button type="button" class="btn btn-default" (click)="deleteConfirm()">Delete</button>
							<button type="button" class="btn btn-default" (click)="copyTo()">Copy To</button>
							<button type="button" class="btn btn-default" (click)="moveTo()">Move To</button>
							<button type="button" class="btn btn-default" (click)="copyAllTo()">Copy To All</button>
							<button type="button" class="btn btn-default" (click)="moveAllTo()">Move To All</button>
							<button type="button" class="btn btn-default" (click)="addTags()">Add Tags</button>
							<button type="button" class="btn btn-default" (click)="removeTags()">Remove Tags</button>
							<button type="button" class="btn btn-default" (click)="clearTagsConfirm()">Clear Tag List</button>
						</div>
					</div>

					<section>
						<div class="row">
							<div class="col-sm-2 has-feedback">
								<input class="form-control" placeholder="Grid data filter..." type="text" [ngModel]="gridFilter" (ngModelChange)="onFilterChanged($event)"
								/>
							</div>
							<div class="col-sm-10 float-right">
								<div class="button-container">
									<button class="btn btn-default" (click)="sizeToFit()">Size to Fit</button>
									<button class="btn btn-default" (click)="autoSizeAll()">Autosize All</button>
									<button class="btn btn-default" (click)="selectAll()">Select All</button>
								</div>
								<br>
							</div>
						</div>
						<ag-grid-ng2 #agGrid style="width: 100%; height: 450px;" class="ag-fresh" [gridOptions]="gridOptions">
						</ag-grid-ng2>
						<button class="btn btn-default col-sm-12" [disabled]="!filterIsActive || !_scrollId" (click)="loadMore()">Load more...</button>
					</section>
				</div>
				<div role="tabpanel" class="tab-pane" [class.active]="activeTab === 'tags'" id="profile">
					<sl-tab-pane [dataset]="dataset" (onDeleted)="onTagDeleted($event)"></sl-tab-pane>
				</div>
			</div>


		</div>
	</div>
	<section>
		<sl-common-templates></sl-common-templates>
		<sl-dataset-selector></sl-dataset-selector>
		<sl-document-details-dialog></sl-document-details-dialog>
		<sl-input-dialog></sl-input-dialog>
		<sl-confirm-dialog></sl-confirm-dialog>
		<sl-document-editor-dialog></sl-document-editor-dialog>
		<sl-taglist-selector-dialog></sl-taglist-selector-dialog>
	</section>
</div>