<template #template let-c="close " let-d="dismiss ">
    <div class="modal-header ">
        <button type="button " class="close " aria-label="Close " (click)="cancel(); d( 'Cross click') ">
                <span aria-hidden="true ">&times;</span>
            </button>
        <h4 class="modal-title ">Tag Selector</h4>
    </div>
    <div class="modal-body ">
        <div class='table-responsive' *ngIf='model.IsMultiselectAllowed'>
            <table class='table table-striped' *ngIf='currentTags && currentTags.length'>
                <thead>
                    <tr>
                        <th>
                            <div ngbDropdown>
                                <button class="btn" id="selectAllDropdownMenu" ngbDropdownToggle>Select All</button>
                                <div class="dropdown-menu" aria-labelledby="selectAllDropdownMenu">
                                    <input type="checkbox" [checked]="(currentTags | selectedItemsCountPipe) == currentTags.length" (change)="checkTag($event, null, false)"
                                        style="margin: 3px;"> Select all on this page
                                    <input type="checkbox" [checked]="(model.Tags | selectedItemsCountPipe) == model.Tags.length" (change)="checkTag($event, null, true)"
                                        style="margin: 3px;"> Select all
                                </div>
                                <p>{{model.Tags | selectedItemsCountPipe}} item(s) selected</p>
                            </div>
                        </th>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let tag of currentTags'>
                        <td><input type="checkbox" [checked]="tag.IsSelected" (change)="checkTag($event, tag)"></td>
                        <td>{{tag.Item.Id}}</td>
                        <td>{{tag.Item.Name}}</td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination [collectionSize]="model.Tags.length" [(page)]="tagPage" [maxSize]="tagPageSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngIf='!model.IsMultiselectAllowed'>
            <select [ngModel]='selected' (ngModelChange)="select($event)" name="name">
                <option [ngValue]="tag" *ngFor='let tag of model.Tags'>{{tag.Item.Id}} - {{tag.Item.Name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-primary " (click)="ok(); c() ">Select</button>
        <button type="button " class="btn btn-secondary " (click)="cancel(); c( 'Close click') ">Cancel</button>
    </div>
</template>